@(questions: Seq[Question])

<style>
.question {
	border: 1px solid #DDD;
	margin: 10px;
	padding: 10px;
}
.question .title {
	line-height: 30px;
}
</style>

@main("") {
<div class="questions">
	@for( question <- questions ) {
	<div class="question">
		<div class="title">
			<a href="@routes.Questions.show(question.id.toString)">@question.title</a>
		</div>
		<div class="content">
			@question.content
		</div>
		<div class="ops">
			<a href="@routes.Questions.edit(question.id.toString)">Edit</a>
		</div>
	</div>

	}
</div>
}
